node_modules/
build/

.next/
.git/
.husky/
.cache/
.github/
.idea/
.gradle/

LICENSE
README.md
docker-compose*
Dockerfile
jest*
public/rss.xml
renovate.json

.gitignore
.prettierignore
*.iml

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/example.json
cypress/plugins/
cypress/support/
